{
    "root": true,
    "parser": "babel-eslint",
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:import/errors",
      "plugin:import/warnings",
      "plugin:react-hooks/recommended"
    ],
    "env": {
      "browser": true,
      "commonjs": true,
      "es6": true,
      "node": true,
      "jest/globals": true
    },
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "plugins": ["jest"],
    "rules": {
      "react/prop-types": "off",
      "react/display-name": "warn",
      "react/no-unescaped-entities": "warn",
      "react/jsx-no-duplicate-props": "warn",
      "import/no-unresolved": [2, { "ignore": ["\\.(png|jpg|svg)\\?.+$"] }],
      "jest/no-disabled-tests": "warn",
      "jest/no-focused-tests": "error",
      "jest/no-identical-title": "error",
      "jest/prefer-to-have-length": "warn",
      "jest/valid-expect": "error"
    }
  }